@model BlogTdsTecnologia.ViewModel.PostsViewModel

@{
    Layout = "_Layout";
}

@foreach (var item in Model.Posts)
{
    <div>
        <div class="post-preview">
            <a asp-controller="Post" asp-action="Completo" asp-route-id="@item.PostId">
                <h2 class="post-title">
                    @item.Titulo
                </h2>
                <h3 class="post-subtitle">
                    @item.Resumo
                </h3>
            </a>
            <p class="post-meta">
                Autor
                <a href="#">@item.Autor.Nome</a>
                em @item.DataCriacao.ToString("dd MMMM yyyy")
            </p>
        </div>
        <hr>
    </div>
}